.grow {
  flex-grow: 1;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url('/wallpaper.jpg');
  background-repeat: repeat;

  #max-height {
    max-height: 100%;
  }
  
  .heightGrid {
    height: 20%;
  }

  .widthContainer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    position: relative;

    .imageContainer {
      position: relative;
    }

    .lanternLandscape {
      position: absolute;
      top: 0;
    }
    
    .lanternPortrait {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      // transform: translateY(+20%);
    }
    
    .image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      border-radius: 3px;
      box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 1);
      filter: brightness(0.9);
    }
  }
}